<!-- Firebase SDK -->
<script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-auth-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.23.0/firebase-firestore-compat.js"></script>

<script>
// Firebase configuration for the CodeBuddy project
firebaseConfig = {
        apiKey: "{{site.apiKey}}",
        authDomain: "{{site.authDomain}}",
        databaseURL: "{{site.databaseURL}}",
        projectId: "{{site.projectId}}",
        storageBucket: "{{site.storageBucket}}",
        messagingSenderId: "{{site.senderId}}",
        appId: "{{site.appId}}"
};

  firebase.initializeApp(firebaseConfig);
  const auth = firebase.auth();
  const db = firebase.firestore();

  document.addEventListener("DOMContentLoaded", () => {
  const loginBtn = document.getElementById("login-btn");
  const logoutBtn = document.getElementById("logout-btn");

  loginBtn.addEventListener("click", () => {
    const provider = new firebase.auth.GoogleAuthProvider();
    auth.signInWithPopup(provider).then((result) => {
      console.log("Login berhasil:", result.user.displayName);
      toggleAuthUI(true);
    });
  });

  logoutBtn.addEventListener("click", () => {
    auth.signOut().then(() => {
      console.log("Logout berhasil");
      toggleAuthUI(false);
    });
  });

  auth.onAuthStateChanged((user) => {
    toggleAuthUI(!!user);
    if (user) {
      window.currentUser = user;
    } else {
      window.currentUser = null;
    }
  });

  function toggleAuthUI(isLogin) {
    loginBtn.style.display = isLogin ? "none" : "inline-block";
    logoutBtn.style.display = isLogin ? "inline-block" : "none";
  }
});

</script>